.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw
  }
  
  .login-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .login-input {
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
   
  .login-button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  
